body, html {
    height: 100%;
}
body {
  margin: 0;
  padding: 0
}

.h-100 {
  height: 100%
}

.w-100 {
  width: 100%
}

.logout {
  position: fixed !important;
  top: 10px;
  right: 10px;
}

.button-add-project-container {
  position: fixed;
  bottom: 24px;
  right: 24px;
}
.header-container {
  text-align: center;
}

/*needs for check*/
.main {
  flex-grow: 1
}

.no-projects-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column
}

.no-projects-label {
  font-size: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif
}

.no-tasks-container {
  display: flex;
  align-items: center;
  flex-direction: column
}

.no-tasks-label {
  font-size: 20px;
  padding: 10px;
  font-family: 'Roboto', sans-serif
}

.no-comments-container {
  display: flex;
  justify-content: center;
}

.no-comments-label {
  font-size: 20px;
  padding: 10px;
}

.project {
  padding: 12px;
}

.circle-progress {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px
}

.form-container {
  display: flex;
  flex: 1;
  align-items: center;
}

.form {
  padding: 10px
}

.form-button {
  display: flex;
  justify-content: flex-end;
  padding-top: 10px;
}

.form-button-facebook {
  display: flex;
  justify-content: center;
  padding-top: 10px;
}

.comment-button-container {
  padding-left: 8px;
  padding-bottom: 36px;
  align-self: flex-end
}
.comment-icon-container {
  /*padding-left: 24px;*/
  padding-bottom: 30px;
  align-self: flex-end
}

.input-file {
  cursor: pointer;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  opacity: 0;
}

.project-button-container {
  align-self: flex-start;
  padding-left: 16px;
  padding-top: 8px
}

.task-button-container {
  align-self: flex-end;
  padding-left: 16px;
  padding-bottom: 8px
}

.comments-container {
  padding-bottom: 24px;
}

.w-77 {
  width: 77%
}

.w-33 {
  width: 33%
}

.app-content {
  padding-top: 10.5px
}
